@font-face {
    font-family: ralewaym;
    src: url(../Fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: poppinsb;
    src: url(../Fonts/Poppins-Bold.ttf);
}


nav {
    display: block;
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 10px 80px;
    box-shadow: rgb(0, 0, 0) 0 -1px 20px -8px;
    z-index: 9999;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li .active {
    color: black;
    background: white;
}

.home li, .about li, .portfolio li, .contact li{
    color: #777;
    font-family: 'ralewaym';
    list-style: none;
    padding: 0 20px;
    position: relative;
    position: relative;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.home::after,
.about::after,
.portfolio::after,
.contact::after {
    content: "";
    height: 4px;
    width: 100%;
    background-color: rgb(0, 183, 255);
    display: block;
    position: relative;
    left: 0;
    bottom: -16px;
    opacity: 0;
    transition: all 0.3s
}

.home:hover::after,
.home:focus::after,
.about:hover::after,
.about:focus::after,
.portfolio:hover::after,
.portfolio:focus::after,
.contact:hover::after,
.contact:focus::after {
    opacity: 1;
}

.home,
.about,
.portfolio,
.contact {
    text-decoration: none;
}


#mobile i {
    display: none;
    font-size: 24px;
    color: black;
    margin-right: -1rem;
}

.github-star {
    background-color: #a667ca;
    padding: 0.4rem 0.7rem;
    border-radius: 5px;
    border-color: #b89ece;
    transition: 0.3s ease
}

.github-star:hover {
    transform: translateY(-3px);
    background-color: #aa60d4;
    border-color: #aa60d4;
}

.github-star:hover .fastar,
.github-star:hover .facodebranch {
    transition: 0.5s ease;
    color: rgb(139, 0, 139);
}

.facodebranch,
.fastar {
    font-size: 1rem;
    color: #bb89e7;
}

.github-icon h1 {
    font-family: poppinsb;
    font-size: 0.9rem;
}

.github-icon {
    display: none;
}

.dropdown{
    display: none;
}


@media screen and (max-width: 767px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 50px;
        right: -383px;
        width: 50%;
        height: 100vh;
        box-sizing: 0 40px 60px 0px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 20px;
        transition: 0.3s ease-in-out;
        background-color: hsla(240, 6%, 6%, 0.692);
        backdrop-filter: blur(0.5rem);
        border: 5px solid rgba(255, 255, 255, 0.075);
        border-radius: 1rem 0;
    }

    nav {
        justify-content: space-between;
    }

    .home::after,
    .about::after,
    .portfolio::after,
    .contact::after {
        bottom: 16px;
    }

    .github-star {
        display: block;
        margin-top: 3rem;
    }

    .github-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.2rem;
        margin-top: 0.5rem;
        background-color: white;
        border-radius: 5px;
        outline: none;
        border-color: whitesmoke;
        transition: 0.3s ease
    }

    #navbar.active {
        right: 0px;
    }


    .home li, .about li, .contact li, .portfolio li{
        font-family: 'ralewaym';
        color: white;
        list-style: none;
        font-size: 19px;
        right: 0px;
        border-radius: 0.2rem;
        padding: 1rem 1rem 0 0;
        margin-bottom: 25px;
    }

    #mobile i {
        display: block;
    }

    #mobile li {
        font-size: 24px;
    }

    .dropdown{
        display: block;
        min-width: 7rem;
        position: relative;
        align-items: right;
        margin-top: 0.5rem;
    }
    
    .dropdown *{
        box-sizing: border-box;
    }
    
    .select{
        background: #2a2f3b;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px #2a2f3b solid;
        border-radius: 0.5rem;
        padding: 0.5rem;
        cursor: pointer;
        transition: background 0.3s;
    }
    
    .select-clicked{
        border: 2px #26489a solid;
        box-shadow: 0 0 0.8em #26489a;
    }
    
    .select:hover{
        background: #323741;
    }
    
    .caret{
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid #fff;
        transition: 0.3s;
    }
    
    .caret-rotate{
        transform: rotate(180deg);
    }
    
    .menu{
        list-style: none;
        background: #323741;
        border: 1px #363a43 solid;
        box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
        border-radius: 0.5rem;
        color: #9fa5b5;
        position: absolute;
        align-items: center;
        top: 2.4rem;
        left: 80%;
        width: 8rem;
        height: 5rem;
        transform: translateX(-50%);
        opacity: 0;
        display: none;
        transition: 0.2s;
        z-index: 1;
    }
    
    .menu li{
        padding: 0.3rem;
        margin: 0.3rem 0;
        border-radius: 0.5rem;
        cursor: pointer;
    }
    
    .menu li:hover{
        background: #2a2d35;
    }
    
    .active{
        background: #23242a;
    }
    
    .menu-open{
        display: block;
        opacity: 1;
    }
}

@media screen and (max-width: 575.98px) {
    /*#navbar{ 
    }*/
}